### Dataset Description: 

Every row in this dataset contains information about the lead. Along with lead details, we also have other details like number of calls made by salesperson, how long it has been since the lead has been generated etc.
 
**Column Descriptions**

opportunity_id – Lead unique ID

stagename – The stage at which the lead is

subsource – The subsource from which the lead has been obtained

unanswered_call_counter – Number of calls that went unanswered

unserviced age – Number of days since no action taken on that lead

ageing – Days the lead has aged since created

source – The source from which the lead has been obtained

Opportunity_created_date – Date on which the lead was generated

time_taken_for_allocation – Time taken to allocate the lead to a salesperson

no_of_calls – Number of calls made to the lead

calldurationinseconds – Duration the call from salesperson to the lead lasted

City – City the lead belongs to

City Type – Whether the city belongs to Tier-1, Tier-2 or Tier-3

Workexp – The work experience the lead has

Laststagechangedate – The date when the stage of the lead changes

Sales_end_date – Date at which sales end

Sales_start_date – Date at which sales start

Program_number – The number of the program

Program Code - Renewed – The code of the program

total_program_fee.1 – The fees of the program

Category – Category the program belongs to

Is_serviced_c – Whether action is taken on the lead

Business_vertical – The business vertical that the program belongs to

Budget – Budget allocated for the specific program

Lastactivitydate – Last date of activity with the lead

Institute – The institute which is offering the program

Year – The year in which the lead was generated

Month – The month in which the lead was generated

Month_name – The name of the month in which the lead was generated

Week of Year – The week of the year in which the lead was generated

Week of Month – The week of the month in which the lead was generated

Day of Year – The day of the year the lead was generated

Day of Week – The day of the week the lead was generated

Day Name – The name of the day the lead was generated

Age – The age range of the lead

is_session_Working_day – Does the session fall on a working day

workex_reqd – Work experience required to take the course

Session_Start_day_inweek – The day the session starts

Weekly_sessionsdays_count – How many sessions in a week

sales_Working_day – Whether it’s a working day for sales

Time – The time at which the lead is generated

Hour – The hour at which the lead is generated

IscreatedinWorking_hour – Whether the lead is created during sales working hours

Funnel_category – Simplified category created from stagename to reduce levels in the target column (Target)

In [367]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
import warnings
warnings.filterwarnings('ignore')

In [368]:
df = pd.read_excel("Lead_scoring_dataset.xlsx")

In [369]:
df

,opportunity_id,stagename,subsource,unanswered_call_counter,unserviced_age,ageing,source,Opportunity_created_date,time_taken_for_allocation,no_of_calls,...,is_session_Working_day,Session_Start_day_inweek,Weekly_sessionsdays_count,sessions_in week,Workes-reqd/min_workex,workex-reqd/workexpmax,workex- minworkexp/reqd,workex-max/reqd,workex_reqd/Age(max),workex_reqd/Age(min)
0,0060o00001WJbrYAAT,Cold,facebook,0,0,252,facebook,2021-02-06 01:23:00,0,2,...,0,Saturday,1,1,0,0,2,5,0,0
1,0060o00001WJcpKAAT,Cold,facebook,0,0,241,facebook,2021-02-06 05:47:00,0,8,...,0,Saturday,1,1,0,0,2,5,0,0
2,0060o00001WJhn0AAD,Cold,facebook,0,0,245,facebook,2021-03-06 07:47:00,0,2,...,0,Saturday,1,1,0,0,2,5,0,0
3,0060o00001WJlgqAAD,Cold,facebook,0,0,127,facebook,2021-04-06 05:12:00,0,3,...,0,Saturday,1,1,0,0,2,5,0,0
4,0060o00001WJlmtAAD,Cold,facebook,0,0,244,facebook,2021-04-06 05:51:00,0,3,...,0,Saturday,1,1,0,0,2,5,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76156,0065j00000gL6RuAAK,Attempt To contact,facebook,1,228,1,facebook,2022-11-06 12:28:00,0,4,...,0,Saturday,1,1,0,0,2,4,0,0
76157,0065j00000gMhYrAAK,Attempt To contact,facebook,1,200,1,facebook,2022-12-06 16:22:00,0,2,...,0,Saturday,1,1,0,0,2,4,0,0
76158,0065j00000g9MNVAA2,Attempt To contact,facebook,1,293,1,facebook,2022-08-06 19:26:00,0,3,...,0,Saturday,1,1,0,0,2,4,0,0
76159,0065j00000gMlilAAC,Attempt To contact,facebook,1,390,1,facebook,2022-12-06 17:56:00,0,5,...,0,Saturday,1,1,0,0,5,7,0,0
76160,0065j00000gLxpkAAC,Attempt To contact,facebook,1,238,1,facebook,2022-12-06 01:53:00,0,3,...,0,Sunday,1,1,1,1,1,2,0,0

## Data Preprocessing

In [370]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76161 entries, 0 to 76160
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   opportunity_id                76161 non-null  object
 1   stagename                     76161 non-null  object
 2   subsource                     76071 non-null  object
 3   unanswered_call_counter       76161 non-null  int64
 4   unserviced_age                76161 non-null  int64
 5   ageing                        76161 non-null  int64
 6   source                        76147 non-null  object
 7   Opportunity_created_date      76161 non-null  object
 8   time_taken_for_allocation     76161 non-null  int64
 9   no_of_calls                   76161 non-null  int64
 10  calldurationinseconds         9926 non-null   float64
 11  Funnel_category               76161 non-null  object
 12  Days_to_apply                 977 non-null    object
 13  Days_to_engage                16590 non-null  object
 14  Days_to_enroll                930 non-null    object
 15  Days_to_payment               169 non-null    object
 16  Days_to_waste                 57378 non-null  object
 17  city                          76157 non-null  object
 18  City_type                     76161 non-null  object
 19  workexp                       76161 non-null  object
 20  workexp min                   76161 non-null  int64
 21  workexp max                   76161 non-null  int64
 22  laststagechangedate           76044 non-null  object
 23  is_serviced__c                76161 non-null  bool
 24  sales_end_                    76161 non-null  datetime64[ns]
 25  sales_start_date              76161 non-null  datetime64[ns]
 26  Program_number                76161 non-null  object
 27  Program Code -Renewed         76161 non-null  object
 28  total_program_fee.1           76161 non-null  int64
 29  Category                      76161 non-null  object
 30  Business_vertical             76161 non-null  object
 31  Budget                        76161 non-null  int64
 32  lastactivitydate              76158 non-null  object
 33  Institute                     76161 non-null  object
 34  Call1_diff                    76161 non-null  int64
 35  Call2_diff                    76161 non-null  int64
 36  Call3_diff                    76161 non-null  int64
 37  Call4_diff                    76161 non-null  int64
 38  Year                          76161 non-null  int64
 39  Month                         76161 non-null  int64
 40  Month Name                    76161 non-null  object
 41  Week of Year                  76161 non-null  int64
 42  Week of Month                 76161 non-null  int64
 43  Day of Year                   76161 non-null  int64
 44  Day of Week                   76161 non-null  int64
 45  Day Name                      76161 non-null  object
 46  Age                           76161 non-null  object
 47  Age(min)                      76161 non-null  int64
 48  Age(max)                      76161 non-null  int64
 49  Competitor program_fee(high)  76161 non-null  float64
 50  Competitor program_fee(low)   76161 non-null  float64
 51  program_start_date__c         70322 non-null  datetime64[ns]
 52  program_end_date__c           70322 non-null  datetime64[ns]
 53  sales_Working_day             76161 non-null  int64
 54  Time_of Lead                  76161 non-null  object
 55  Hour                          76161 non-null  int64
 56  IscreatedinWorking_hour       76161 non-null  int64
 57  workex_reqd                   76161 non-null  int64
 58  is_session_Working_day        76161 non-null  int64
 59  Session_Start_day_inweek      76161 non-null  object
 60  Weekly_sessionsdays_count     76161 non-null  int64
 61  sessions_in week              76161 non-null  int64
 62  Workes-reqd/min_workex        76107 non-null  object
 63  workex-reqd/workexpmax        76161 non-null  float64
 64  workex- minworkexp/reqd       76107 non-null  object
 65  workex-max/reqd               76161 non-null  object
 66  workex_reqd/Age(max)          76161 non-null  float64
 67  workex_reqd/Age(min)          76161 non-null  float64
dtypes: bool(1), datetime64[ns](4), float64(6), int64(28), object(29)
memory usage: 39.0+ MB

In [371]:
df.describe().T

,count,mean,min,25%,50%,75%,max,std
unanswered_call_counter,76161,0,0,0,0,0,5,1
unserviced_age,76161,30,0,0,0,0,4884,155
ageing,76161,149,0,1,138,260,516,133
time_taken_for_allocation,76161,0,0,0,0,0,0,0
no_of_calls,76161,3,1,1,2,5,46,3
calldurationinseconds,9926,71,0,0,0,0,3751,273
workexp min,76161,4,0,1,1,5,30,5
workexp max,76161,9,1,5,5,10,35,5
sales_end_,76161,2021-12-11 12:21:42.903060480,2019-12-31 00:00:00,2021-08-08 00:00:00,2021-11-25 00:00:00,2022-05-15 00:00:00,2022-10-01 00:00:00,NaN
sales_start_date,76161,2021-08-15 16:27:28.339701504,2019-01-01 00:00:00,2021-04-20 00:00:00,2021-07-25 00:00:00,2022-02-08 00:00:00,2022-05-30 00:00:00,NaN
total_program_fee.1,76161,449926,70800,175000,300000,444860,1652000,472279
Budget,76161,2552190,424000,1500000,1703000,2110000,8687000,2183772
Call1_diff,76161,0,0,0,0,0,0,0
Call2_diff,76161,0,0,0,0,0,0,0
Call3_diff,76161,0,0,0,0,0,0,0
Call4_diff,76161,0,0,0,0,0,0,0
Year,76161,2021,2020,2021,2021,2022,2022,1
Month,76161,6,1,4,6,8,12,3
Week of Year,76161,24,1,16,24,35,53,12
Week of Month,76161,3,1,2,3,4,6,1
Day of Year,76161,163,1,103,158,241,366,84
Day of Week,76161,3,0,1,3,4,6,2
Age(min),76161,27,21,22,22,28,60,6
Age(max),76161,32,23,27,27,33,65,7
Competitor program_fee(high),76161,674888,106200,262500,450000,667290,2478000,708418
Competitor program_fee(low),76161,299950,47200,116667,200000,296573,1101333,314853
program_start_date__c,70322,2021-11-23 21:31:25.031711744,2020-09-05 00:00:00,2021-07-29 00:00:00,2021-12-04 00:00:00,2022-03-27 00:00:00,2022-09-24 00:00:00,NaN
program_end_date__c,70322,2022-11-11 01:59:05.735331584,2021-03-04 00:00:00,2022-05-31 00:00:00,2022-10-31 00:00:00,2023-03-31 00:00:00,2024-04-30 00:00:00,NaN
sales_Working_day,76161,1,0,1,1,1,1,0
Hour,76161,9,0,5,9,13,23,5
IscreatedinWorking_hour,76161,0,0,0,0,1,1,0
workex_reqd,76161,4,0,2,3,5,10,3
is_session_Working_day,76161,0,0,0,0,0,1,0
Weekly_sessionsdays_count,76161,1,1,1,1,2,2,0
sessions_in week,76161,1,1,1,1,2,2,0
workex-reqd/workexpmax,76161,1,0,0,0,1,10,1
workex_reqd/Age(max),76161,0,0,0,0,0,0,0
workex_reqd/Age(min),76161,0,0,0,0,0,0,0

Looking for missing value %s in dataframe columns

In [372]:
missing = df.isnull().sum()
missing_percent = round((missing / len(df)) * 100)
missing_report = pd.DataFrame({'Missing Values': missing, 'Percent': missing_percent})
print("\nMissing Value Report:\n", missing_report[missing_report['Missing Values'] > 0])

Missing Value Report:
                          Missing Values  Percent
subsource                            90        0
source                               14        0
calldurationinseconds             66235       87
Days_to_apply                     75184       99
Days_to_engage                    59571       78
Days_to_enroll                    75231       99
Days_to_payment                   75992      100
Days_to_waste                     18783       25
city                                  4        0
laststagechangedate                 117        0
lastactivitydate                      3        0
program_start_date__c              5839        8
program_end_date__c                5839        8
Workes-reqd/min_workex               54        0
workex- minworkexp/reqd              54        0

In [373]:
num_col_df = df[df.select_dtypes(include=['int64', 'float64']).columns.tolist()]

num_col_max = num_col_df.max()
columns_with_zero_max = num_col_max[num_col_max == 0].index.tolist()
column_report = pd.DataFrame({'Max values': num_col_max})
print("\nMissing Values in columns:\n", column_report[column_report['Max values'] == 0])

Missing Values in columns:
                            Max values
time_taken_for_allocation           0
Call1_diff                          0
Call2_diff                          0
Call3_diff                          0
Call4_diff                          0

As we can observe some of the columns have around more than 70% data missing in the dataset, and some columns have only zero's in the columns. Hence it is logical to remove those columns from the dataset

In [374]:
df = df.dropna(thresh=len(df) * 0.7, axis=1)
df.drop(columns=columns_with_zero_max, inplace=True)

We need to check the categorical and numerical columns individually if they need any pre-processing or if redundant columns can be removed before we proceed for further cleaning of data

In [375]:
numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns.tolist()
categorical_cols = df.select_dtypes(include=['object', 'bool']).columns.tolist()
datetime_cols = df.select_dtypes(include='datetime').columns.tolist()

Understanding the correlation between 'stagename' and the 'target' column

In [376]:
df[['stagename', 'Funnel_category']].drop_duplicates()

                          stagename    Funnel_category
0                              Cold       Wasted_leads
38822                          Dead       Wasted_leads
53109                       Offered       Applications
53110                     Contacted            Engaged
53111                          Warm            Engaged
53115  Registered - Form Incomplete       Applications
53117        Registration Initiated       Applications
53121                       Dropout       Applications
53122    Registered - Form Complete       Applications
53128         Sent to the institute       Applications
53130                           T+3  Payment Initiated
53131                           T7+  Payment Initiated
53192                      Enrolled           Enrolled
53260                       Enquiry            Engaged
53264                    Reinquired            Engaged
53265            Attempt To contact            Engaged
54343                           T+7  Payment Initiated
54543                      Rejected       Applications
67167  Offered - Document completed       Applications

In [377]:
cat_df = df[categorical_cols]

cat_df.tail(5).T

,76156,76157,76158,76159,76160
opportunity_id,0065j00000gL6RuAAK,0065j00000gMhYrAAK,0065j00000g9MNVAA2,0065j00000gMlilAAC,0065j00000gLxpkAAC
stagename,Attempt To contact,Attempt To contact,Attempt To contact,Attempt To contact,Attempt To contact
subsource,facebook,facebook,facebook,facebook,facebook
source,facebook,facebook,facebook,facebook,facebook
Opportunity_created_date,2022-11-06 12:28:00,2022-12-06 16:22:00,2022-08-06 19:26:00,2022-12-06 17:56:00,2022-12-06 01:53:00
Funnel_category,Engaged,Engaged,Engaged,Engaged,Engaged
Days_to_waste,NaN,NaN,NaN,NaN,NaN
city,Delhi NCR,Delhi NCR,Delhi NCR,Delhi NCR,Delhi NCR
City_type,Tier-1,Tier-1,Tier-1,Tier-1,Tier-1
workexp,10-15 years,10-15 years,10-15 years,15-20 years,10-15 years
laststagechangedate,2022-11-06 13:25:00,6/13/22 5:10,2022-09-06 05:17:00,6/13/22 7:00,6/13/22 8:14
is_serviced__c,False,False,False,False,False
Program_number,P-00238,P-00238,P-00238,P-00236,P-00231
Program Code -Renewed,IIML-EPSM,IIML-EPSM,IIML-EPSM,IIMN-CSM,IIMK-LEAP
Category,Marketing & Sales,Marketing & Sales,Marketing & Sales,Strategic Management,Leadership & Strategy
Business_vertical,MDP,MDP,MDP,LDP,LDP
lastactivitydate,6/20/22 0:00,6/20/22 0:00,6/20/22 0:00,6/28/22 0:00,6/21/22 0:00
Institute,IIM Lucknow,IIM Lucknow,IIM Lucknow,IIM Nagpur,IIM Kozhikode
Month Name,June,June,June,June,June
Day Name,Saturday,Sunday,Wednesday,Sunday,Sunday
Age,34-40 years,34-40 years,34-40 years,41-46 years,34-40 years
Time_of Lead,12:28:14,16:22:56,19:26:57,17:56:23,01:53:42
Session_Start_day_inweek,Saturday,Saturday,Saturday,Saturday,Sunday
Workes-reqd/min_workex,0,0,0,0,1
workex- minworkexp/reqd,2,2,2,5,1
workex-max/reqd,4,4,4,7,2

In [378]:
date_df = df[datetime_cols]

date_df.tail(5).T

                           76156      76157      76158      76159      76160
sales_end_            2022-06-15 2022-06-15 2022-06-15 2022-07-02 2022-06-12
sales_start_date      2022-03-07 2022-03-07 2022-03-07 2022-03-04 2022-02-20
program_start_date__c 2022-06-25 2022-06-25 2022-06-25 2022-07-16 2022-06-26
program_end_date__c   2023-05-31 2023-05-31 2023-05-31 2023-06-30 2023-06-30

In [379]:
num_df = df[numerical_cols]
pd.set_option('display.float_format', '{:.0f}'.format)
num_df.tail(5).T

                               76156   76157   76158   76159   76160
unanswered_call_counter            1       1       1       1       1
unserviced_age                   228     200     293     390     238
ageing                             1       1       1       1       1
no_of_calls                        4       2       3       5       3
workexp min                       10      10      10      15      10
workexp max                       15      15      15      20      15
total_program_fee.1           200000  200000  200000  200000  550000
Budget                       1893000 1893000 1893000 2217000 2202000
Year                            2022    2022    2022    2022    2022
Month                              6       6       6       6       6
Week of Year                      24      24      24      24      24
Week of Month                      2       2       2       2       2
Day of Year                      162     163     159     163     163
Day of Week                        5       6       2       6       6
Age(min)                          34      34      34      41      34
Age(max)                          40      40      40      46      40
Competitor program_fee(high)  300000  300000  300000  300000  825000
Competitor program_fee(low)   133333  133333  133333  133333  366667
sales_Working_day                  0       0       1       0       0
Hour                              12      16      19      17       1
IscreatedinWorking_hour            1       1       1       1       0
workex_reqd                        4       4       4       3      10
is_session_Working_day             0       0       0       0       0
Weekly_sessionsdays_count          1       1       1       1       1
sessions_in week                   1       1       1       1       1
workex-reqd/workexpmax             0       0       0       0       1
workex_reqd/Age(max)               0       0       0       0       0
workex_reqd/Age(min)               0       0       0       0       0

- Removing redundant columns such as 'laststagechangedate', 'days_to_waste' and 'lastactivitydate'
- Converting Opportunity_created_date' to datetime format
- Creating some calculated columns using the date-time columns

In [380]:
# df.head(5).T

In [381]:
df.columns

Index(['opportunity_id', 'stagename', 'subsource', 'unanswered_call_counter',
       'unserviced_age', 'ageing', 'source', 'Opportunity_created_date',
       'no_of_calls', 'Funnel_category', 'Days_to_waste', 'city', 'City_type',
       'workexp', 'workexp min', 'workexp max', 'laststagechangedate',
       'is_serviced__c', 'sales_end_', 'sales_start_date', 'Program_number',
       'Program Code -Renewed', 'total_program_fee.1', 'Category',
       'Business_vertical', 'Budget', 'lastactivitydate', 'Institute', 'Year',
       'Month', 'Month Name', 'Week of Year', 'Week of Month', 'Day of Year',
       'Day of Week', 'Day Name', 'Age', 'Age(min)', 'Age(max)',
       'Competitor program_fee(high)', 'Competitor program_fee(low)',
       'program_start_date__c', 'program_end_date__c', 'sales_Working_day',
       'Time_of Lead', 'Hour', 'IscreatedinWorking_hour', 'workex_reqd',
       'is_session_Working_day', 'Session_Start_day_inweek',
       'Weekly_sessionsdays_count', 'sessions_in week',
       'Workes-reqd/min_workex', 'workex-reqd/workexpmax',
       'workex- minworkexp/reqd', 'workex-max/reqd', 'workex_reqd/Age(max)',
       'workex_reqd/Age(min)'],
      dtype='object')

In [382]:
df['Opportunity_created_date'] = pd.to_datetime(df['Opportunity_created_date'])
df['sales_start_date'] = pd.to_datetime(df['sales_start_date'])
df['program_start_date__c'] = pd.to_datetime(df['program_start_date__c'])
df['program_end_date__c'] = pd.to_datetime(df['program_end_date__c'])
df['Workes-reqd/min_workex'] = pd.to_numeric(df['Workes-reqd/min_workex'], errors='coerce')
df['workex- minworkexp/reqd'] = pd.to_numeric(df['workex- minworkexp/reqd'], errors='coerce')
df['workex-max/reqd'] = pd.to_numeric(df['workex-max/reqd'], errors='coerce')

df['program_duration'] = (df['program_end_date__c'] - df['program_start_date__c']).dt.days
# df['days_to_opp_created'] = (df['Opportunity_created_date'] - df['sales_start_date']).dt.days
# df['opp_created_untill_prog_start'] = (df['program_start_date__c'] - df['Opportunity_created_date']).dt.days

df.head().T

,0,1,2,3,4
opportunity_id,0060o00001WJbrYAAT,0060o00001WJcpKAAT,0060o00001WJhn0AAD,0060o00001WJlgqAAD,0060o00001WJlmtAAD
stagename,Cold,Cold,Cold,Cold,Cold
subsource,facebook,facebook,facebook,facebook,facebook
unanswered_call_counter,0,0,0,0,0
unserviced_age,0,0,0,0,0
ageing,252,241,245,127,244
source,facebook,facebook,facebook,facebook,facebook
Opportunity_created_date,2021-02-06 01:23:00,2021-02-06 05:47:00,2021-03-06 07:47:00,2021-04-06 05:12:00,2021-04-06 05:51:00
no_of_calls,2,8,2,3,3
Funnel_category,Wasted_leads,Wasted_leads,Wasted_leads,Wasted_leads,Wasted_leads
Days_to_waste,8h 12m 4s,11d 6h 3m 36s 0ms,6d 0h 53m 36s,123d 8h 31m 24s,6d 1h 37m 1s
city,Delhi NCR,Delhi NCR,Delhi NCR,Delhi NCR,Delhi NCR
City_type,Tier-1,Tier-1,Tier-1,Tier-1,Tier-1
workexp,5-10 years,5-10 years,5-10 years,5-10 years,5-10 years
workexp min,5,5,5,5,5
workexp max,10,10,10,10,10
laststagechangedate,2021-02-06 09:35:00,6/13/21 11:50,2021-09-06 08:40:00,2021-05-10 13:44:00,2021-10-06 07:28:00
is_serviced__c,True,True,True,True,True
sales_end_,2021-06-12 00:00:00,2021-06-12 00:00:00,2021-06-12 00:00:00,2021-06-12 00:00:00,2021-06-12 00:00:00
sales_start_date,2021-02-23 00:00:00,2021-04-12 00:00:00,2021-02-23 00:00:00,2021-02-23 00:00:00,2021-02-23 00:00:00
Program_number,P-00114,P-00103,P-00114,P-00114,P-00114
Program Code -Renewed,IIMI-CPDMS,IITR-PGCAIDL,IIMI-CPDMS,IIMI-CPDMS,IIMI-CPDMS
total_program_fee.1,203550,250000,203550,203550,203550
Category,Digital Marketing,Data Science- AIML,Digital Marketing,Digital Marketing,Digital Marketing
Business_vertical,MDP,Tech,MDP,MDP,MDP
Budget,1450000,1433000,1450000,1450000,1450000
lastactivitydate,2021-02-06 00:00:00,6/13/21 0:00,2021-09-06 00:00:00,2021-05-10 00:00:00,2021-10-06 00:00:00
Institute,IIM Indore,IIT Ropar,IIM Indore,IIM Indore,IIM Indore
Year,2021,2021,2021,2021,2021
Month,6,6,6,6,6
Month Name,June,June,June,June,June
Week of Year,23,23,23,23,23
Week of Month,1,1,1,1,1
Day of Year,153,153,154,155,155
Day of Week,2,2,3,4,4
Day Name,Wednesday,Wednesday,Thursday,Friday,Friday
Age,28-33 years,28-33 years,28-33 years,28-33 years,28-33 years
Age(min),28,28,28,28,28
Age(max),33,33,33,33,33
Competitor program_fee(high),305325,375000,305325,305325,305325
Competitor program_fee(low),135700,166667,135700,135700,135700
program_start_date__c,2021-06-19 00:00:00,2021-06-19 00:00:00,2021-06-19 00:00:00,2021-06-19 00:00:00,2021-06-19 00:00:00
program_end_date__c,2022-05-30 00:00:00,2021-12-26 00:00:00,2022-05-30 00:00:00,2022-05-30 00:00:00,2022-05-30 00:00:00
sales_Working_day,1,1,1,1,1
Time_of Lead,01:23:52,05:47:06,07:47:19,05:12:54,05:51:58
Hour,1,5,7,5,5
IscreatedinWorking_hour,0,0,0,0,0
workex_reqd,2,2,2,2,2
is_session_Working_day,0,0,0,0,0
Session_Start_day_inweek,Saturday,Saturday,Saturday,Saturday,Saturday
Weekly_sessionsdays_count,1,1,1,1,1
sessions_in week,1,1,1,1,1
Workes-reqd/min_workex,0,0,0,0,0
workex-reqd/workexpmax,0,0,0,0,0
workex- minworkexp/reqd,2,2,2,2,2
workex-max/reqd,5,5,5,5,5
workex_reqd/Age(max),0,0,0,0,0
workex_reqd/Age(min),0,0,0,0,0
program_duration,345,190,345,345,345

In [383]:
df.drop(columns=['laststagechangedate', 'Days_to_waste', 'lastactivitydate', 'Time_of Lead', 'program_start_date__c', 'program_end_date__c', 'Age(min)', 'Age(max)', 'workexp min', 'workexp max'], axis=1, inplace=True)

In [384]:
df.head(15).T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
opportunity_id,0060o00001WJbrYAAT,0060o00001WJcpKAAT,0060o00001WJhn0AAD,0060o00001WJlgqAAD,0060o00001WJlmtAAD,0060o00001WJmOOAA1,0060o00001WJXUVAA5,0060o00001WJY9GAAX,0060o00001WJYAxAAP,0060o00001XGbrSAAT,0060o00001XGd22AAD,0060o00001XGdVoAAL,0060o00001XGlNhAAL,0060o00001XGqKIAA1,0060o00001XGtwpAAD
stagename,Cold,Cold,Cold,Cold,Cold,Cold,Cold,Cold,Cold,Cold,Cold,Cold,Cold,Cold,Cold
subsource,facebook,facebook,facebook,facebook,facebook,facebook,facebook,facebook,facebook,facebook,facebook,facebook,facebook,facebook,facebook
unanswered_call_counter,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
unserviced_age,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ageing,252,241,245,127,244,250,138,252,244,244,244,247,245,127,243
source,facebook,facebook,facebook,facebook,facebook,facebook,facebook,facebook,facebook,facebook,facebook,facebook,facebook,facebook,facebook
Opportunity_created_date,2021-02-06 01:23:00,2021-02-06 05:47:00,2021-03-06 07:47:00,2021-04-06 05:12:00,2021-04-06 05:51:00,2021-04-06 09:01:00,2021-01-06 02:21:00,2021-01-06 04:18:00,2021-01-06 04:31:00,2021-06-06 07:37:00,2021-06-06 16:52:00,2021-06-06 21:04:00,2021-08-06 14:26:00,2021-09-06 16:55:00,2021-10-06 13:47:00
no_of_calls,2,8,2,3,3,1,7,4,4,4,3,2,1,2,8
Funnel_category,Wasted_leads,Wasted_leads,Wasted_leads,Wasted_leads,Wasted_leads,Wasted_leads,Wasted_leads,Wasted_leads,Wasted_leads,Wasted_leads,Wasted_leads,Wasted_leads,Wasted_leads,Wasted_leads,Wasted_leads
city,Delhi NCR,Delhi NCR,Delhi NCR,Delhi NCR,Delhi NCR,Delhi NCR,Delhi NCR,Delhi NCR,Delhi NCR,Delhi NCR,Delhi NCR,Delhi NCR,Delhi NCR,Delhi NCR,Delhi NCR
City_type,Tier-1,Tier-1,Tier-1,Tier-1,Tier-1,Tier-1,Tier-1,Tier-1,Tier-1,Tier-1,Tier-1,Tier-1,Tier-1,Tier-1,Tier-1
workexp,5-10 years,5-10 years,5-10 years,5-10 years,5-10 years,5-10 years,5-10 years,5-10 years,5-10 years,5-10 years,5-10 years,5-10 years,5-10 years,5-10 years,5-10 years
is_serviced__c,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
sales_end_,2021-06-12 00:00:00,2021-06-12 00:00:00,2021-06-12 00:00:00,2021-06-12 00:00:00,2021-06-12 00:00:00,2021-06-12 00:00:00,2021-06-12 00:00:00,2021-06-12 00:00:00,2021-06-12 00:00:00,2021-06-12 00:00:00,2021-06-12 00:00:00,2021-06-12 00:00:00,2021-06-12 00:00:00,2021-06-12 00:00:00,2021-06-12 00:00:00
sales_start_date,2021-02-23 00:00:00,2021-04-12 00:00:00,2021-02-23 00:00:00,2021-02-23 00:00:00,2021-02-23 00:00:00,2021-02-23 00:00:00,2021-02-23 00:00:00,2021-04-12 00:00:00,2021-02-23 00:00:00,2021-02-23 00:00:00,2021-02-23 00:00:00,2021-02-23 00:00:00,2021-02-23 00:00:00,2021-02-23 00:00:00,2021-04-12 00:00:00
Program_number,P-00114,P-00103,P-00114,P-00114,P-00114,P-00114,P-00114,P-00103,P-00114,P-00114,P-00114,P-00114,P-00114,P-00114,P-00103
Program Code -Renewed,IIMI-CPDMS,IITR-PGCAIDL,IIMI-CPDMS,IIMI-CPDMS,IIMI-CPDMS,IIMI-CPDMS,IIMI-CPDMS,IITR-PGCAIDL,IIMI-CPDMS,IIMI-CPDMS,IIMI-CPDMS,IIMI-CPDMS,IIMI-CPDMS,IIMI-CPDMS,IITR-PGCAIDL
total_program_fee.1,203550,250000,203550,203550,203550,203550,203550,250000,203550,203550,203550,203550,203550,203550,250000
Category,Digital Marketing,Data Science- AIML,Digital Marketing,Digital Marketing,Digital Marketing,Digital Marketing,Digital Marketing,Data Science- AIML,Digital Marketing,Digital Marketing,Digital Marketing,Digital Marketing,Digital Marketing,Digital Marketing,Data Science- AIML
Business_vertical,MDP,Tech,MDP,MDP,MDP,MDP,MDP,Tech,MDP,MDP,MDP,MDP,MDP,MDP,Tech
Budget,1450000,1433000,1450000,1450000,1450000,1450000,1450000,1433000,1450000,1450000,1450000,1450000,1450000,1450000,1433000
Institute,IIM Indore,IIT Ropar,IIM Indore,IIM Indore,IIM Indore,IIM Indore,IIM Indore,IIT Ropar,IIM Indore,IIM Indore,IIM Indore,IIM Indore,IIM Indore,IIM Indore,IIT Ropar
Year,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021,2021
Month,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
Month Name,June,June,June,June,June,June,June,June,June,June,June,June,June,June,June
Week of Year,23,23,23,23,23,23,23,23,23,23,23,23,24,24,24
Week of Month,1,1,1,1,1,1,1,1,1,1,1,1,2,2,2
Day of Year,153,153,154,155,155,155,152,152,152,157,157,157,159,160,161
Day of Week,2,2,3,4,4,4,1,1,1,6,6,6,1,2,3
Day Name,Wednesday,Wednesday,Thursday,Friday,Friday,Friday,Tuesday,Tuesday,Tuesday,Sunday,Sunday,Sunday,Tuesday,Wednesday,Thursday
Age,28-33 years,28-33 years,28-33 years,28-33 years,28-33 years,28-33 years,28-33 years,28-33 years,28-33 years,28-33 years,28-33 years,28-33 years,28-33 years,28-33 years,28-33 years
Competitor program_fee(high),305325,375000,305325,305325,305325,305325,305325,375000,305325,305325,305325,305325,305325,305325,375000
Competitor program_fee(low),135700,166667,135700,135700,135700,135700,135700,166667,135700,135700,135700,135700,135700,135700,166667
sales_Working_day,1,1,1,1,1,1,1,1,1,0,0,0,1,1,1
Hour,1,5,7,5,5,9,2,4,4,7,16,21,14,16,13
IscreatedinWorking_hour,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1
workex_reqd,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
is_session_Working_day,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Session_Start_day_inweek,Saturday,Saturday,Saturday,Saturday,Saturday,Saturday,Saturday,Saturday,Saturday,Saturday,Saturday,Saturday,Saturday,Saturday,Saturday
Weekly_sessionsdays_count,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
sessions_in week,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Workes-reqd/min_workex,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
workex-reqd/workexpmax,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
workex- minworkexp/reqd,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
workex-max/reqd,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
workex_reqd/Age(max),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
workex_reqd/Age(min),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
program_duration,345,190,345,345,345,345,345,190,345,345,345,345,345,345,190

In [385]:
numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns.tolist()
outliers_dict = {}

for col in numerical_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)]
    
    outliers_dict[col] = outliers.index.tolist()
    
    # print(f"{col}: {len(outliers)} outliers")

print("\nSummary of numerical columns with outliers:")
for col, indexes in outliers_dict.items():
    if len(indexes) > 0:
        print(f"{col}: {len(indexes)} outliers {df[col].dtype}")

Summary of numerical columns with outliers:
unanswered_call_counter: 7111 outliers int64
unserviced_age: 7113 outliers int64
no_of_calls: 2113 outliers int64
total_program_fee.1: 9493 outliers int64
Budget: 11542 outliers int64
Competitor program_fee(high): 9493 outliers float64
Competitor program_fee(low): 9493 outliers float64
sales_Working_day: 17048 outliers int64
workex_reqd: 10163 outliers int64
is_session_Working_day: 14550 outliers int64
Workes-reqd/min_workex: 7596 outliers float64
workex-reqd/workexpmax: 9823 outliers float64
workex- minworkexp/reqd: 8632 outliers float64
workex-max/reqd: 1197 outliers float64
workex_reqd/Age(max): 6407 outliers float64
workex_reqd/Age(min): 6407 outliers float64
program_duration: 6759 outliers float64

In [386]:
for col in numerical_cols:
    if col in df.columns:
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR

        # Replace outlier values with NaN
        df.loc[(df[col] < lower_bound) | (df[col] > upper_bound), col] = np.nan

df

,opportunity_id,stagename,subsource,unanswered_call_counter,unserviced_age,ageing,source,Opportunity_created_date,no_of_calls,Funnel_category,...,Session_Start_day_inweek,Weekly_sessionsdays_count,sessions_in week,Workes-reqd/min_workex,workex-reqd/workexpmax,workex- minworkexp/reqd,workex-max/reqd,workex_reqd/Age(max),workex_reqd/Age(min),program_duration
0,0060o00001WJbrYAAT,Cold,facebook,0,0,252,facebook,2021-02-06 01:23:00,2,Wasted_leads,...,Saturday,1,1,0,0,2,5,0,0,345
1,0060o00001WJcpKAAT,Cold,facebook,0,0,241,facebook,2021-02-06 05:47:00,8,Wasted_leads,...,Saturday,1,1,0,0,2,5,0,0,190
2,0060o00001WJhn0AAD,Cold,facebook,0,0,245,facebook,2021-03-06 07:47:00,2,Wasted_leads,...,Saturday,1,1,0,0,2,5,0,0,345
3,0060o00001WJlgqAAD,Cold,facebook,0,0,127,facebook,2021-04-06 05:12:00,3,Wasted_leads,...,Saturday,1,1,0,0,2,5,0,0,345
4,0060o00001WJlmtAAD,Cold,facebook,0,0,244,facebook,2021-04-06 05:51:00,3,Wasted_leads,...,Saturday,1,1,0,0,2,5,0,0,345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76156,0065j00000gL6RuAAK,Attempt To contact,facebook,NaN,NaN,1,facebook,2022-11-06 12:28:00,4,Engaged,...,Saturday,1,1,0,0,2,4,0,0,340
76157,0065j00000gMhYrAAK,Attempt To contact,facebook,NaN,NaN,1,facebook,2022-12-06 16:22:00,2,Engaged,...,Saturday,1,1,0,0,2,4,0,0,340
76158,0065j00000g9MNVAA2,Attempt To contact,facebook,NaN,NaN,1,facebook,2022-08-06 19:26:00,3,Engaged,...,Saturday,1,1,0,0,2,4,0,0,340
76159,0065j00000gMlilAAC,Attempt To contact,facebook,NaN,NaN,1,facebook,2022-12-06 17:56:00,5,Engaged,...,Saturday,1,1,0,0,NaN,7,0,0,349
76160,0065j00000gLxpkAAC,Attempt To contact,facebook,NaN,NaN,1,facebook,2022-12-06 01:53:00,3,Engaged,...,Sunday,1,1,1,1,1,2,0,0,369

### Missing values imputation

We still have some missing values across multiple columns in the dataset

In [387]:
missing = df.isnull().sum()
coltypes = df.dtypes
missing_percent = (missing / len(df)) * 100
missing_report = pd.DataFrame({'Missing Values': missing, 'Type' : coltypes, 'Percent': missing_percent})
print("\nMissing Value Report:\n", missing_report[missing_report['Missing Values'] > 0])

Missing Value Report:
                               Missing Values     Type  Percent
subsource                                 90   object        0
unanswered_call_counter                 7111  float64        9
unserviced_age                          7113  float64        9
source                                    14   object        0
no_of_calls                             2113  float64        3
city                                       4   object        0
total_program_fee.1                     9493  float64       12
Budget                                 11542  float64       15
Competitor program_fee(high)            9493  float64       12
Competitor program_fee(low)             9493  float64       12
sales_Working_day                      17048  float64       22
workex_reqd                            10163  float64       13
is_session_Working_day                 14550  float64       19
Workes-reqd/min_workex                 13441  float64       18
workex-reqd/workexpmax                  9823  float64       13
workex- minworkexp/reqd                10916  float64       14
workex-max/reqd                         3481  float64        5
workex_reqd/Age(max)                    6407  float64        8
workex_reqd/Age(min)                    6407  float64        8
program_duration                       12598  float64       17

These missing values need to be imputed based on the ideal imputation technique applicable for the column

Based on the datatypes of the missing values we will proceed with imputation with mode for categorical columns with object datatypes
and for numerical column we will either go for median or mean imputation.

We have decided to go for **Mean Imputation** because we have already removed the outliers so if the dataset contained extreme values (outliers), they would have skewed the mean, pulling it towards themselves. In that case we would have went with **Median Imputation** Hence imputation with mean in this dataset of missing values

In [388]:
for col in df.columns:
    if df[col].dtype == 'object':
        df[col] = df[col].fillna(df[col].mode()[0])
    else:
        df[col] = df[col].fillna(df[col].mean())

In [389]:
df

,opportunity_id,stagename,subsource,unanswered_call_counter,unserviced_age,ageing,source,Opportunity_created_date,no_of_calls,Funnel_category,...,Session_Start_day_inweek,Weekly_sessionsdays_count,sessions_in week,Workes-reqd/min_workex,workex-reqd/workexpmax,workex- minworkexp/reqd,workex-max/reqd,workex_reqd/Age(max),workex_reqd/Age(min),program_duration
0,0060o00001WJbrYAAT,Cold,facebook,0,0,252,facebook,2021-02-06 01:23:00,2,Wasted_leads,...,Saturday,1,1,0,0,2,5,0,0,345
1,0060o00001WJcpKAAT,Cold,facebook,0,0,241,facebook,2021-02-06 05:47:00,8,Wasted_leads,...,Saturday,1,1,0,0,2,5,0,0,190
2,0060o00001WJhn0AAD,Cold,facebook,0,0,245,facebook,2021-03-06 07:47:00,2,Wasted_leads,...,Saturday,1,1,0,0,2,5,0,0,345
3,0060o00001WJlgqAAD,Cold,facebook,0,0,127,facebook,2021-04-06 05:12:00,3,Wasted_leads,...,Saturday,1,1,0,0,2,5,0,0,345
4,0060o00001WJlmtAAD,Cold,facebook,0,0,244,facebook,2021-04-06 05:51:00,3,Wasted_leads,...,Saturday,1,1,0,0,2,5,0,0,345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76156,0065j00000gL6RuAAK,Attempt To contact,facebook,0,0,1,facebook,2022-11-06 12:28:00,4,Engaged,...,Saturday,1,1,0,0,2,4,0,0,340
76157,0065j00000gMhYrAAK,Attempt To contact,facebook,0,0,1,facebook,2022-12-06 16:22:00,2,Engaged,...,Saturday,1,1,0,0,2,4,0,0,340
76158,0065j00000g9MNVAA2,Attempt To contact,facebook,0,0,1,facebook,2022-08-06 19:26:00,3,Engaged,...,Saturday,1,1,0,0,2,4,0,0,340
76159,0065j00000gMlilAAC,Attempt To contact,facebook,0,0,1,facebook,2022-12-06 17:56:00,5,Engaged,...,Saturday,1,1,0,0,1,7,0,0,349
76160,0065j00000gLxpkAAC,Attempt To contact,facebook,0,0,1,facebook,2022-12-06 01:53:00,3,Engaged,...,Sunday,1,1,1,1,1,2,0,0,369

## Data Encoding

The categorical columns needs to be encoded for the ML algorithms to be implemented

In [23]:
target_col = 'Funnel_category'
X = df.drop(columns=[target_col])
y = df[target_col]

In [25]:
num_cols = X.select_dtypes(include=['int64', 'float64']).columns
cat_cols = X.select_dtypes(include=['object', 'category']).columns

In [27]:
encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
X_cat_encoded = pd.DataFrame(
    encoder.fit_transform(X[cat_cols]),
    columns=encoder.get_feature_names_out(cat_cols),
    index=X.index
)

X_final = pd.concat([X[num_cols], X_cat_encoded], axis=1)

In [28]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X_final)

# Train-test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [29]:
models = {
    "Logistic Regression": LogisticRegression(max_iter=1000),
    "Random Forest": RandomForestClassifier(),
}

for name, model in models.items():
    print(f"\n{name}")
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    print("Accuracy:", accuracy_score(y_test, y_pred))
    print(classification_report(y_test, y_pred))

Logistic Regression
Accuracy: 0.8742204424604477
              precision    recall  f1-score   support

           0       0.50      0.04      0.08       189
           1       0.85      0.65      0.74      3374
           2       0.00      0.00      0.00       175
           3       0.00      0.00      0.00        29
           4       0.88      0.97      0.92     11466

    accuracy                           0.87     15233
   macro avg       0.45      0.33      0.35     15233
weighted avg       0.86      0.87      0.86     15233


Random Forest
Accuracy: 0.9191886036893586
              precision    recall  f1-score   support

           0       0.63      0.33      0.43       189
           1       0.88      0.84      0.86      3374
           2       0.45      0.11      0.18       175
           3       0.69      0.38      0.49        29
           4       0.94      0.97      0.95     11466

    accuracy                           0.92     15233
   macro avg       0.72      0.52      0.58     15233
weighted avg       0.91      0.92      0.91     15233